__pycache__/
final-project/voting-data/period_metrics_immigration.csv
final-project/voting-data/period_metrics_klima_miljo.csv
final-project/voting-data/period_metrics_general.csv
final-project/voting-data/period_metrics_all.csv
